/* Load font form Google Fonts, can do it local if needed */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');

@font-face {
    font-family: Ampersand;
    src:
            local('Baskerville-Italic'),
            local('GoudyOldStyleT-Italic'),
            local('Garamond-Italic'),
            local('Palatino-Italic');
    unicode-range: U+26;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    min-height: 100%;
    background-color: rgb(244, 244, 244);
    color: rgb(39, 41, 43);
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1em;
    position: relative;
}

body > h1 {
    flex-basis: 100%;
}

/* Prevent object go out of the container */
img,
object,
video,
iframe {
    max-width: 100%;
    height: auto;
}

a {
    color: rgb(236, 235, 228);
    transition: color .5s ease;
}

h2 > a {
    color: rgb(39, 41, 43);
}

p {
    max-width: 40em;
}

h2 {
    font-family: Ampersand, 'Roboto', sans-serif;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    background-color: rgb(67, 72, 76);
    color: rgb(236, 235, 228);
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    position: relative;
}

form.validate-form:valid::after {
    content: "\2713  Alle velden zijn goed ingevuld je kan verder.";
    background-color: rgb(98, 196, 139);
    color: rgb(40, 41, 45);
    display: block;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
}

form.validate-form input:invalid {
    background-color: rgb(102, 102, 102);
}

form label,
form a {
    flex-basis: 100%;
    margin: .5em 0;
}

form label:first-of-type {
    margin-top: 0;
}

label[for="field-stay-logged-in"] {
    text-align: center;
}

form a {
    margin-bottom: .5em;
    text-align: center;
}

input,
textarea {
    padding: .5em;
    margin: 0 0 .5em;
    font-size: 1em;
    flex-basis: 100%;
    background-color: rgb(67, 72, 76);
    color: rgb(244, 244, 244);
    border: .1em solid rgb(244, 244, 244);
}

input:focus,
textarea:focus {
    outline: none;
    border: .1em solid rgb(91, 214, 211);
}

input[type="checkbox"],
input[type="radio"]{
    flex-basis: auto;
    margin: 0 .5em 0 0;
    position: absolute;
    clip: rect(0,0,0,0);
}

input[type="checkbox"] + label::before {
    content: '\a0';
    display: inline-block;
    vertical-align: text-top;
    width: 1em;
    height: 1em;
    text-align: center;
    margin-right: .5em;
    border-radius: 0;
    border: .1em solid rgb(212, 212, 212);
    line-height: 1em;
}

input[type="checkbox"]:checked + label::before {
    content: '\2713';
    color: rgb(98, 196, 139);
}

input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 .1em .1em rgb(91, 214, 211);
}

button[type="submit"] {
    font-size: 1em;
    padding: 1em 2em;
    margin: .5em 0 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    background-color: rgb(224, 73, 0);
    color: currentColor;
    transition: background-color .5s ease, color .5s ease;
    cursor: pointer;
    border:none;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    background-color: rgb(228, 107, 50);
    color: currentColor;
    outline-color: rgb(46, 204, 113);
}

figure {
    margin: 1em auto;
    padding: 0;
    box-sizing: border-box;
    color: rgb(58, 48, 66);
    position: relative;
    max-width: max-content;
    max-height: 100vh;
}

figure a {
    color: rgb(236, 235, 228);
    border: 1.3em solid transparent;
}

figure p {
    max-width: 30em;
    margin: 0 auto .5em;
}

figure img {
    min-width: 0;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

figure figcaption {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    padding: 1em;
    background-color: rgba(102, 102, 102, .7);
    color: rgb(236, 235, 228);
    box-sizing: border-box;
}

figure footer {
    font-size: .6em;
    text-align: right;
}

figure.full-page {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

figure.full-page img {
    min-width: 100%;
    max-height: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

nav h1 {
    flex-basis: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

nav li {
    text-align: left;
    position: relative;
    transition: background-color .5s ease;
    background-color: rgb(40, 41, 45);
    flex-basis: 100%;
}

nav a:hover,
nav a:focus {
    background-color: rgb(238, 99, 82);
}

nav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: rgb(236, 235, 228);
}

nav li > ul {
    display: none;
    position: static;
    z-index: 10;
    font-size: .8em;
    box-sizing: border-box;
    background-color: rgb(102, 102, 102);
}

nav li {
    position: relative;
}

nav li.has-submenu a {
    padding-right: 2.5em;
}

nav li.has-submenu > a::after {
    content: "\2193";
    color: rgb(244, 244, 244);
    position: absolute;
    right:1em;
    top:1em;
}

nav a:hover + ul,
nav a:focus + ul,
nav li:hover a + ul {
    display: block;
}

nav li li {
    background-color: rgb(102, 102, 102);
    flex-basis: 100%;
}

nav li > ul a {
    padding-left: 2.5em;
}

@media screen and (min-width: 440px) {
    
    nav li {
        flex-basis: auto;
    }
    
    nav a {
        padding: 1em 1.5em;
    }
    
    nav li > ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
    }
    
    nav li > ul a {
        padding-left: 1em;
    }
    
}

fieldset {
    border: 0;
    padding: 0;
}

fieldset.rating {
    max-width: 20rem;
}

fieldset legend {
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0;
    flex-basis: 100%;
}

fieldset label {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    text-align: center;
    cursor: pointer;
    width: 40%;
    margin: .5em;
    box-sizing: border-box;
    padding: .5em;
    background-color: rgb(235, 237, 238);
    border: .1em solid transparent;
    min-width: min-content;
}

.rating input[type="radio"]:focus + label {
    border: .1em solid rgb(98, 196, 139);
}

.rating span {
    transform: scale(0);
    transition: .5s cubic-bezier(.54,-0.5,.41,1.34) transform;
}

.rating label:hover > span {
    transform: scale(1);
}

.rating input:focus + label > span {
    transform: scale(1);
}

fieldset label:hover svg {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: shake;
}

fieldset span {
    flex-basis: 100%;
}

fieldset svg {
    opacity: .5;
    min-width: 3em;
    max-width: 3em;
    flex-basis: 100%;
    align-self: flex-start;
    margin: .5em auto;
    transition: opacity .3s ease-in-out;
}

fieldset input:checked + label > svg {
    opacity: 1;
}

article.media-item {
    max-width: 30em;
    color: rgb(58, 48, 66);
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    flex-wrap: wrap;
    padding: 1em;
    border-bottom: 0.1em solid rgb(102, 102, 102);
}

article.media-item:nth-of-type(n+2) p {
    display: none;
}

article.media-item:nth-of-type(even) {
    background-color: rgb(249, 249, 249);
}

article.media-item:nth-of-type(n+2) img {
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

article.media-item:nth-of-type(n+2) h1 {
    flex-basis: 100%;
    max-width: 100%;
    margin: .5em 0 0 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 400px) {
    
    article.media-item:nth-of-type(n+2) img {
        flex-basis: 30%;
        max-width: 30%;
        box-sizing: border-box;
    }
    
    article.media-item:nth-of-type(n+2) h1 {
        flex-basis: 70%;
        max-width: 70%;
        margin: 0;
        padding: 0 0 0 0.5em;
    }
    
}

article.media-item > h1 {
    padding: 0;
    margin-top: 1em;
    font-size: 1.3em;
    flex-basis: 100%;
}

article.media-item h1 > a {
    color: rgb(58, 48, 66);
    text-decoration: none;
}

article.media-item h1 > a::after {
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
}

article.media-item > img {
    margin: 0 auto;
    flex-basis: 100%;
}

article.media-item > p {
    padding: 0 1em;
}

article.media-item:first-of-type > h1 {
    padding: 0;
}

article.media-item:first-of-type > p {
    margin-top: 0;
    padding: 0;
}

.chat {
    border: .1em solid rgb(67, 72, 76);
    border-top: 1.5em solid rgb(67, 72, 76);
    max-width: 20em;
}

.chat ol {
    list-style-type: none;
    margin: 0;
    padding: 1em 0 0;
    max-width: 100%;
    background-color: rgb(244, 244, 244);
    border-top: 0;
    border-bottom: 0;
    max-height: 15em;
    overflow: scroll;
}

.chat ol + form {
    border-top: .3em solid rgb(236, 235, 228);
    padding: 1em 1em;
}

.chat li {
    color: #3A3042;
    padding: .5em;
    margin: 0;
    max-width: max-content;
}

.chat li > p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

.chat li:nth-child(odd) {
    margin-left: auto;
    text-align: right;
}

.chat li:nth-child(odd) > p {
    background-color: rgb(198, 216, 175);
    border-radius: 1em 1.5em 0 1.5em;
}

.chat li:nth-child(even) {
    margin-right: auto;
    text-align: left;
}

.chat li:nth-child(even) > p {
    background-color: rgb(236, 235, 228);
    border-radius: 1.5em 1em 1.5em 0;
}

.chat li footer p {
    font-style: italic;
    font-size: .6em;
    display: inline-block;
}

.chat li p[data-status="READ"] {
    padding: .5em;
    margin: 0;
    color: rgb(98, 196, 139);
    font-style: normal;
    display: inline-block;
}

.chat li p[data-status="READ"]::before {
    content: "\2713\2713";
    font-size: 1.2em;
    letter-spacing: -.2em;
}

.chat li p[data-status="DELIVERED"] {
    display: inline-block;
    padding: .5em;
    margin: 0;
    color: rgb(98, 196, 139);
    font-style: normal;
}

.chat li p[data-status="DELIVERED"]::before {
    content: "\2713";
    font-size: 1.2em;
    letter-spacing: -.2em;
}

nav.step-indicator {
    max-width: 35em;
    padding: 1em;
    background-color: rgb(255, 255, 255);
}

nav.step-indicator > h1 {
    margin-bottom: 1em;
    font-size: 1.3em;
    text-transform: uppercase;
}

nav.step-indicator > progress {
    width: 100%;
    height: 2em;
    border: 0;
    background-color: rgb(102, 102, 102));
}

nav.step-indicator > progress::-webkit-progress-bar {
    background-color: rgb(102, 102, 102);
}
nav.step-indicator > progress::-webkit-progress-value {
    background-color: rgb(98, 196, 139);
}

nav.step-indicator ol {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    width: 100%;
    margin-top: 2em;
    font-size: 1em;
    list-style-type: none;
    padding: 0;
}

nav.step-indicator a {
    padding: 0;
}

nav.step-indicator a:hover,
nav.step-indicator a:focus {
    background-color: inherit;
    outline-color: rgb(238, 99, 82);
}

nav.step-indicator li {
    background-color: rgb(236, 235, 228);
    text-align: left;
    flex-grow: 1;
    color: rgb(236, 235, 228);
    box-sizing: border-box;
    position: relative;
    padding: .5em;
    border-bottom: .1em solid rgb(255, 255, 255);
}

nav.step-indicator li::after {
    content: "";
    position: absolute;
    top: .15em;
    right: .5em;
    font-size: 1.5em;
}

nav.step-indicator li[status="done"] {
    background-color: rgb(98, 196, 139);
}

nav.step-indicator li[status="done"]::after {
    content: "\2713";
}

nav.step-indicator li[status="current"] {
    background-color: rgb(90, 166, 218);
    color: rgb(236, 235, 228);
}

nav.step-indicator li[status="current"]::after {
    content: "\2610";
}

nav.step-indicator li[status="progress"] {
    background-color: rgb(102, 102, 102);
    color: rgb(236, 235, 228);
}

nav.step-indicator li[status="progress"]::after {
    content: "\2610";
}

nav.step-indicator ol > li > a {
    color: currentColor;
    text-decoration: none;
}

@media screen and (min-width: 440px) {
    
    nav.step-indicator li {
        width: 25%;
        font-size: .9em;
        border-right: .1em solid rgb(255, 255, 255);
        border-bottom: 0;
    }
    
    nav.step-indicator li:last-of-type {
        border-right: 0;
    }
    
}

.login {
    max-width: 30em;
}

.login form {
    box-shadow: 0 .5em .8em 0 rgba(67, 72, 76, .7);
}

.random-bg {
    color: rgb(236, 235, 228);
    padding: .5em 1em;
    max-width: max-content;
    background-color: rgb(102, 102, 102);
    background-image:
        linear-gradient(90deg, rgb(40, 41, 45) 15px, transparent 0),
        linear-gradient(90deg, rgb(54, 58, 62) 25px, transparent 0),
        linear-gradient(90deg, rgb(129, 136, 144) 50px, transparent 0);
    background-size:
            45px 100%,
            65px 100%,
            90px 100%;
}

.random-bg p {
    padding: .5em;
    background-color: rgba(40, 41, 45, .7);
}

::-webkit-input-placeholder {
    color: rgba(244, 244, 244, .5);
    font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
    color: rgba(244, 244, 244, .5);
    font-weight: 300;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(244, 244, 244, .5);
    font-weight: 300;
}

:-ms-input-placeholder {
    color: rgba(244, 244, 244, .5);
    font-weight: 300;
}

[aria-label="Address, current step"] {
    color: rgb(92, 128, 188);
    font-weight: 800;
}

.component {
    margin: 1em 0;
    flex-basis: 100%;
}

.component .loader {
    display: inline-block;
}

#modal-dimming {
    display: none;
}

#modal-dimming:target {
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    padding:0 2em;
    right: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    align-items: center;
}

#modal-dimming::after {
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    z-index: -1;
}

#modal-dimming:target::after {
    background-color: rgba(0,0,0,.8);
}

#modal-dimming:target > .inner {
    margin: 0 auto;
    max-width: 20em;
    background-color: rgb(67, 72, 76);
}

.loader {
    background-color: transparent;
    animation: spinner-loader 1s infinite linear;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    margin: .5em;
}

.loader.line {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border-top: .2em solid rgb(238, 99, 82);
}

.loader.filled {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: rgb(238,99,82); /* Backup older browsers */
    background: -moz-linear-gradient(left,  rgba(238,99,82,1) 0%, rgba(238,99,82,1) 50%, rgba(248,183,7,1) 51%, rgba(248,183,7,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(238,99,82,1) 0%,rgba(238,99,82,1) 50%,rgba(248,183,7,1) 51%,rgba(248,183,7,1) 100%);
    background: linear-gradient(to right,  rgba(238,99,82,1) 0%,rgba(238,99,82,1) 50%,rgba(248,183,7,1) 51%,rgba(248,183,7,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6352', endColorstr='#f8b707',GradientType=1 );
}

.loader.in-out {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(238, 99, 82);
    animation: spinner-in-out 1.2s infinite linear;
}

.loader.svg {
    width: 3em;
    height: 3em;
    background: url("images/loading.svg") no-repeat;
    background-size: contain;
}

/* Keyframe animations */

@keyframes shake {
    from, to {
        transform: translate3d(0, 0, 0);
    }
    
    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-.3em, 0, 0);
    }
    
    20%, 40%, 60%, 80% {
        transform: translate3d(.3em, 0, 0);
    }
}

@keyframes spinner-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner-in-out {
    0% {
        opacity:1;
        transform: scale(1, 1);
    }
    50% {
        opacity:.2;
        transform: scale(.5, .5);
    }
    100% {
        opacity:1;
        transform: scale(1, 1);
    }
}