html,
body {
    font-family: Verdana, sans-serif;
    height: 100%;
    background-color: #3A3042;
    color: #ECEBE4;
    line-height: 1.2;
}

img,
object,
video,
iframe {
   max-width: 100%;
}

a {
    color: #ECEBE4;
    transition: color 0.5s ease;
}

.component {
    display: block;
    margin: 3em 0;
}

/* Login */
form {
    display: flex;
    flex-wrap: wrap;
    background-color: #5C80BC;
    width: 100%;
    max-width: 30em;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.7em;
}

    form label,
    form a {
        flex-basis: 100%;
    }

    form a {
        margin-bottom: 0.5em;
    }

    form label[for="field-stay-logged-in"] {
        flex-basis: auto;
    }

    form input,
    form textarea {
        padding: 0.5em;
        margin: 0.5em 0 1em;
        font-size: 1em;
        flex-basis: 100%;
        background-color: #ECEBE4;
        color: #3A3042;
    }

    form input[type="checkbox"] {
        flex-basis: auto;
        margin: 0 .5em 0 0;
    }

    form textarea {
        min-height: 8em;
    }

button[type="submit"] {
    font-size: 1em;
    padding: 1em 2em;
    margin: 0.5em 0 0 auto;
    background-color: #C6D8AF;
    border-radius: 0.5em;
    color: #3A3042;
    border: none;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

    button[type="submit"]:hover {
        background-color: #ECEBE4;
    }

/* Figure */
figure {
    border-radius: 0.2em;
    max-width: 20em;
    margin: 0;
    padding: 1em;
    background-color: #ECEBE4;
    color: #3A3042;
}

    figure a {
        color: #3A3042;
    }