<h2><a href="#modal-dimming">Modal with dimming open</a></h2>
<section id="modal-dimming">
    <div class="inner">
        <form action="/" method="post" class="validate-form">
            <h2>Newsletter</h2>
            <label for="field-email">Email</label>
            <input type="email" id="field-email" name="field-email" autocomplete="email" required autofocus placeholder="email@example.com">

            <button type="submit">Sign up</button>
            <a href="#main-content">Close</a>
        </form>
    </div>
</section>