<h2><a href="#modal-dimming">Modal with dimming open</a></h2>
<section id="modal-dimming">
    <section class="login">
        <form action="#main-content" method="POST" class="validate-form">

            <label for="field-email">Email</label>
            <input type="email" id="field-email" name="field-email" autocomplete="email" required autofocus placeholder="email@example.com">

            <label for="field-password">Password</label>
            <input type="password" id="field-password" name="field-password" required placeholder="Password">

            <input type="checkbox" id="field-stay-logged-in" name="field-stay-logged-in" value="stay-logged-in">
            <label for="field-stay-logged-in">Stay logged in</label>

            <a href="#main-content">Close modal</a>

            <button type="submit">Login</button>

        </form>
    </section>
</section>