<h2>Random background</h2>
<section class="random-bg">
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit ante et urna pharetra ullamcorper. Suspendisse varius dui nec dictum dictum. Integer consectetur magna orci, ut varius neque pharetra rhoncus. Nam nec ex tortor. Nam mauris dui, gravida quis scelerisque a, sodales sit amet erat. Nulla facilisi. Mauris aliquam est sed dui tempor, nec rutrum odio tincidunt. Duis vel ligula euismod nunc ultricies fermentum non in sem. Morbi luctus, felis ac dictum laoreet, tortor nisi aliquet dui, sed sagittis ante urna a nunc.

        Vivamus vitae luctus quam. In elementum turpis a blandit hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque tincidunt id libero ut feugiat. Nullam et sem id tortor congue varius. Phasellus urna urna, condimentum id quam vitae, posuere tincidunt arcu. Sed mattis sollicitudin diam, nec sodales erat ullamcorper et. Sed blandit, enim in sagittis rutrum, elit arcu suscipit ante, at varius erat nulla sit amet enim. Aenean mattis tempor neque non bibendum. In urna diam, sollicitudin at orci ut, placerat sodales nisl. Nullam interdum dolor sit amet pharetra rutrum.
    </p>
</section>